<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Detail Newspaper</title>
</head>

<body>
    <form action="" method="POST">
        <input type="hidden" id="writerID" value="{{news.idWriter}}">
        Writer: {{news.writer}} <br>
        Title: {{news.title}} <br>
        Content: {{news.text}} <br>
        View: {{news.view}}
    </form>
    <button id="btn">
        <i id="demo" class="fa fa-plus-square" style="font-size:24px"></i>
    </button>
    <script type="text/javascript">
        var btn = document.getElementById("btn");
        btn.addEventListener("click", function () {
            var ajax = new XMLHttpRequest;
            ajax.open("POST", "user-sub")
            ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            ajax.onreadystatechange = function () {
                //update subcribe, toggle change
                document.getElementById("demo").classList.toggle("fa-check-square");
            }
            const writerID = document.querySelector('#writerID');
            const idWriter = writerID.value;
            ajax.send("writerID=" + idWriter);
        }, false);
    </script>
</body>

</html>